.DS_Store
ipynb_checkpoints/
__pycache__/

scratch/

# Distribution / packaging
.Python
#build/
develop-eggs/
#dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
bin/
lib/
lib64/
share/
include/
*.egg-info/
.installed.cfg
*.egg

