.DS_Store
ipynb_checkpoints/
__pycache__/
.idea
scratch/
.vscode/

# Distribution / packaging
.Python
#build/
develop-eggs/
#dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
bin/
lib/
lib64/
share/
include/
*.egg-info/
.installed.cfg
*.egg
arthur_bench/server/js/dist/*
arthur_bench/server/js/node_modules/*
arthur_bench/server/js/packages/*/node_modules/

bench_runs
*package-lock.json

