<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Suites</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<a
      href="http://www.arthur.ai"
      class="logo"
      >
      <img
        src="https://arthurai-assets.s3.amazonaws.com/logo-black-transparent.png"
        height="38"
        alt="Arthur"
        class="logo"
      />
</a>
<h2
  class="align-center"
>
  All Test Suites
</h2>
{% for suite in suites %}
<table class="itemCard">
    <tr>
      <td>
<table
  class="itemCardHeader"
>
  <tr>
    <td>
      <h3>
    {{suite.name}} <span class="detailNormal">[{{suite.scoring_method.name}}]</span>
    </h3>
    </td>
    <td>
      <div class="detail">
        {{suite.created_at}}
      </div>
    </td>
  </tr>

</table>
<div class="detail">
    Description:
</div>
<div>
    {% if suite.description is none or suite.description | trim == "" %}(no description)
    {% else %}{{suite.description}}{% endif %}
</div>
</td>
</tr>
<tr>
<td
align="left"
class="viewDetails"
valign="top"
>
<table
  cellpadding="0"
  cellspacing="0"
  class="viewDetails"
>
  <tr>
    <td class="viewDetails">
      <a
        href="/test_suites/{{suite.name}}/runs"
        class="buttonLink"
        >View Test Runs</a
      >
    </td>
  </tr>
</table>
</td>
</tr>
</table>
{% endfor %}
</body>
</html>
