<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Runs</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<div>
    <a
      href="http://www.arthur.ai"
      class="logo"
      >
      <img
        src="https://arthurai-assets.s3.amazonaws.com/logo-black-transparent.png"
        height="38"
        alt="Arthur"
        class="logo"
      />
    </a>
    <a class="back-home" href="/test_suites">All Test Suites</a>
</div>

<h2
  class="align-center"
>
  Test Runs for {{test_suite_name}} Suite
</h2>
{% for run in runs %}
<table
    class="itemCard"
    width="100%"
  >
    <tr>
      <td>
<table
  class="itemCardHeader"
>
  <tr>
    <td>
      <h3>
    {{run.name}} <span class="detailNormal">[{% if run.model_name is none or run.model_name | trim == "" %} (no model) {% else %}{{run.model_name}}{% endif %}]</span>
    </h3>
    </td>
    <td>
      <div class="detail">
        {{run.created_at}}
      </div>
    </td>
  </tr>

</table>
<div class="detail">
    Description:
</div>
<div>
    {% if run.description is none or run.description | trim == "" %}(no description)
    {% else %}{{run.description}}{% endif %}
</div>
</td>
</tr>
<tr>
<td
align="left"
class="viewDetails"
valign="top"
>
<table
  cellpadding="0"
  cellspacing="0"
  class="viewDetails"
>
  <tr>
    <td class="viewDetails">
      <a
        href="/test_suites/{{test_suite_name}}/runs/{{run.name}}"
        class="buttonLink">
        View Test Run Results</a
      >
    </td>
  </tr>
</table>
</td>
</tr>
</table>
{% endfor %}
</body>
</html>